/* You can add global styles to this file, and also import other style files */
/* .outer {
  margin-top: 70px;
} */
/* app-root {
  display: flex; */
/* max-width: 100%; */
/* min-height: 100vh; */
/* } */
.toast-top-right {
  margin-top: 50px;
}
