<script src="https://www.google.com/recaptcha/api.js"></script>

<div class="outer position-relative vstack">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-md-6 col-lg-5 offset-lg-4 offset-md-3">
        <div
          class="panel d-flex flex-column align-items-center justify-content-center border bg-white"
        >
          <div class="panel-heading">
            <h2 class="p-3 font-weight-bold">Please Register</h2>
          </div>
          <div class="panel-body p-3 vstack gap-3">
            <form
              [formGroup]="signupForm"
              (ngSubmit)="onSubmit()"
              class="d-flex flex-column align-items-center justify-content-center"
            >
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                *ngIf="errorVal"
              >
                {{ errorVal }}
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              <div class="form-floating form-group">
                <input
                  type="text"
                  id="username"
                  formControlName="username"
                  class="form-control"
                />
                <label for="floatingInput">Username</label>
                <span
                  *ngIf="
                    !signupForm.get('username').valid &&
                    signupForm.get('username').touched
                  "
                  class="help-block"
                >
                  Please enter a valid username!</span
                >
              </div>
              <div class="form-floating form-group">
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  class="form-control"
                />
                <label for="floatingInput">Email</label>
                <span
                  *ngIf="
                    signupForm.get('email').touched &&
                    signupForm.get('email').invalid
                  "
                >
                  <span
                    *ngIf="
              signupForm.get('email').errors?.['required']
            "
                    class="help-block"
                  >
                    Please enter an email!</span
                  >
                  <span
                    *ngIf="signupForm.get('email').errors?.['email']"
                    class="help-block"
                    >Email is invalid!</span
                  >
                </span>
              </div>
              <div class="form-floating form-group">
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control"
                />
                <label for="floatingPassword">Password</label>
                <span
                  *ngIf="signupForm.get('password').errors?.['minlength']"
                  class="help-block"
                  >Password must be at least 8 characters!
                </span>
              </div>

              <span
                *ngIf="!signupForm.valid && signupForm.touched"
                class="help-block"
              >
                Please enter valid data!
              </span>
              <button
                class="g-recaptcha"
                data-sitekey="6LcDc7YoAAAAAAXoEr5Hy46VANGO0HBOsaFWBWaW"
                data-callback="onSubmit"
                data-action="submit"
                class="btn btn-lg btn-outline-secondary"
                type="submit"
              >
                Signup
              </button>
              <span class="help-block">
                {{ errorVal }}
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
