.outer {
  margin-top: 70px;
}
.container {
  margin: 30px;
}
.form-group {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  /* margin-top: 35px; */
  /* margin: auto; */
}
/* .alert-dismissible {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-bottom: 35px;
  margin: auto;
} */
/* .form-group input {
  margin: 0.6rem 0;
} */
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.form-floating:focus-within {
  z-index: 2;
}
