<script src="https://www.google.com/recaptcha/api.js?render=6LdRv94oAAAAAN9XW6y9n8H0p_6QLNPQb9GXwFql"></script>
<!-- <recaptcha
  [size]="'invisible'"
  [hide]="false"
  (captchaResponse)="onCaptchaResponse($event)"
>
</recaptcha> -->
<div
  class="g-recaptcha"
  data-sitekey="6LdRv94oAAAAAN9XW6y9n8H0p_6QLNPQb9GXwFql"
  data-action="signup"
></div>

<div class="outer position-relative vstack">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-4 offset-lg-4 offset-md-4">
        <div
          class="d-flex flex-column align-items-center justify-content-center border bg-white"
        >
          <div class="panel-heading">
            <h2 class="p-3 font-weight-bold">Please Register</h2>
          </div>

          <!-- <div class="panel-body p-3 vstack gap-3"> -->
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div
              class="d-flex flex-column align-items-center justify-content-center"
            >
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                *ngIf="errorVal"
              >
                {{ errorVal }}
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              <div class="form-floating form-group">
                <input
                  type="text"
                  id="username"
                  formControlName="username"
                  class="form-control"
                />
                <label for="floatingInput">Username</label>
                <span
                  *ngIf="
                    !signupForm.get('username').valid &&
                    signupForm.get('username').touched
                  "
                  class="help-block"
                >
                  Please enter a valid username!</span
                >
              </div>
              <div class="form-floating form-group">
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  class="form-control"
                />
                <label for="floatingInput">Email</label>
                <span
                  *ngIf="
                    signupForm.get('email').touched &&
                    signupForm.get('email').invalid
                  "
                >
                  <span
                    *ngIf="
              signupForm.get('email').errors?.['required']
            "
                    class="help-block"
                  >
                    Please enter an email!</span
                  >
                  <span
                    *ngIf="signupForm.get('email').errors?.['email']"
                    class="help-block"
                    >Email is invalid!</span
                  >
                </span>
              </div>
              <div class="form-floating form-group">
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control"
                />
                <label for="floatingPassword">Password</label>
                <span
                  *ngIf="signupForm.get('password').errors?.['minlength']"
                  class="help-block"
                  >Password must be at least 8 characters!
                </span>
                <span
                  *ngIf="
                    !signupForm.get('password').valid &&
                    signupForm.get('password').touched
                  "
                  class="help-block"
                >
                  Your password should contain a capital letter, a digit and a
                  special character!
                </span>
              </div>

              <button
                class="btn btn-lg btn-outline-secondary"
                type="submit"
                [disabled]="!signupForm.valid"
              >
                Signup
              </button>
            </div>
          </form>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
