<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Details:</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="col-form-label">Name:</label>
            <input
              id="username"
              formControlName="username"
              type="text"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label class="col-form-label">Email:</label>
            <input
              id="email"
              formControlName="email"
              type="text"
              class="form-control"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-sm btn-outline-secondary"
          data-bs-target="#exampleModalToggle2"
          data-bs-toggle="modal"
          data-bs-dismiss="modal"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModalToggle2"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Confirmation</h5>
      </div>
      <div class="modal-body">Are you sure you want to update these?</div>
      <div class="modal-footer">
        <button
          class="btn btn-sm btn-outline-secondary"
          data-bs-dismiss="modal"
          type="submit"
          (click)="onSubmit()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
<button
  class="btn btn-sm btn-outline-secondary"
  data-bs-toggle="modal"
  href="#exampleModalToggle"
  role="button"
>
  Update Details
</button>
