<section>
  <div class="container py-3 h-95">
    <div class="row d-flex justify-content-center align-items-center h-75">
      <div class="col col-lg-6 mt-2 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                src="https://t3.ftcdn.net/jpg/04/65/28/08/360_F_465280897_8nL6xlvBwUcLYIQBmyX0GO9fQjDwNYtV.jpg"
                alt="Avatar"
                class="img-fluid my-5"
                style="width: 100px"
              />
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>User Information</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Name</h6>
                    <p *ngIf="isloading" class="text-muted">"loading user"</p>
                    <p *ngIf="!isloading" class="text-muted">
                      {{ user.username }}
                    </p>
                  </div>

                  <div class="col-fill mb-3">
                    <h6>Email</h6>
                    <p *ngIf="isloading" class="text-muted">"loading user"</p>
                    <p *ngIf="!isloading" class="text-muted">
                      {{ user.email }}
                    </p>
                    <!-- <div classs="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button class="btn btn-sm btn-outline-secondary">
                        Update Email
                      </button>
                    </div> -->
                  </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <!-- <button
                      routerLink="/user/update"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Update Details
                    </button> -->
                    <div
                      class="modal fade"
                      id="exampleModalToggle"
                      aria-hidden="true"
                      aria-labelledby="exampleModalToggleLabel"
                      tabindex="-1"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5
                              class="modal-title"
                              id="exampleModalToggleLabel"
                            >
                              Details:
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <form
                              [formGroup]="update2Form"
                              (ngSubmit)="onUpdate()"
                            >
                              <div class="mb-3">
                                <label class="col-form-label"
                                  ><b>Name:</b></label
                                >
                                <input
                                  id="username"
                                  formControlName="username"
                                  type="username"
                                  class="form-control"
                                />
                              </div>
                              <span
                                *ngIf="
                                  !update2Form.get('username').valid &&
                                  update2Form.get('username').touched
                                "
                                class="help-block"
                              >
                                Please enter a valid username!</span
                              >
                              <div class="mb-3">
                                <label class="col-form-label"
                                  ><b>Email:</b></label
                                >
                                <input
                                  id="email"
                                  formControlName="email"
                                  type="email"
                                  class="form-control"
                                />
                              </div>
                              <span
                                *ngIf="
                                  update2Form.get('email').touched &&
                                  update2Form.get('email').invalid
                                "
                              >
                                <span
                                  *ngIf="
              update2Form.get('email').errors?.['required']
            "
                                  class="help-block"
                                >
                                  Please enter an email!</span
                                >
                                <span
                                  *ngIf="update2Form.get('email').errors?.['email']"
                                  class="help-block"
                                  >Email is invalid!</span
                                >
                              </span>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button
                              class="btn btn-sm btn-outline-secondary"
                              data-bs-target="#exampleModalToggle2"
                              data-bs-toggle="modal"
                              data-bs-dismiss="modal"
                            >
                              Update
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="modal fade"
                      id="exampleModalToggle2"
                      aria-hidden="true"
                      aria-labelledby="exampleModalToggleLabel2"
                      tabindex="-1"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5
                              class="modal-title"
                              id="exampleModalToggleLabel2"
                            >
                              Confirmation
                            </h5>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to update these?
                          </div>
                          <div class="modal-footer">
                            <button
                              class="btn btn-sm btn-outline-secondary"
                              data-bs-dismiss="modal"
                              type="submit"
                              (click)="onUpdate()"
                            >
                              Confirm
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a
                      class="btn btn-sm btn-outline-secondary"
                      data-bs-toggle="modal"
                      href="#exampleModalToggle"
                      role="button"
                      (click)="handleUpdate()"
                      >Update Details</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </section> -->
    <!-- </div>
                <h6>Projects</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Recent</h6>
                    <p class="text-muted">Lorem ipsum</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Most Viewed</h6>
                    <p class="text-muted">Dolor sit amet</p>
                  </div>
                </div> -->
    <!-- <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div> -->
  </div>
</section>
